<!DOCTYPE html>
<html>
<script type="text/javascript">

  function validateForm() {
    var testEmail = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    if (testEmail.test(document.signup.email.value) == false) {
      alert("Enter a valid email!");
      document.signup.email.focus();
      return false;
    }

    if (document.signup.psw.value != document.signup.psw2.value) {
      alert("Please make sure your passwords match!");
      document.validate.psw.focus();
      return false;
    }
    return true;
  }
</script>



<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

<!-- Title  -->
<title>ECare - Feeling More Useful | Additem</title>

<!-- Favicon  -->
<link rel="icon" href="https://i.imgur.com/H8wiJy1.png">

<!-- Core Style CSS -->
<link rel="stylesheet" href="css/core-style.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>




<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

  * {
    box-sizing: border-box
  }

  /* Full-width input fields */

  input[type=text],
  input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }

  input[type=text]:focus,
  input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }

  /* Set a style for all buttons */

  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }

  button:hover {
    opacity: 1;
  }

  /* Extra styles for the cancel button */

  .cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
  }

  .cancelbtn:focus {
    outline:none;
  }


  /* Float cancel and signup buttons and add an equal width */



  .signupbtn {
    float: left;
    width: 50%;
    background-color: orange;
  }

  .cancelbtn{
    float: left;
    width: 50%;
  }

  .signupbtn:focus {
    outline:none;
  }

  /* Add padding to container elements */

  .container {
    padding: 16px;
  }

  /* Clear floats */

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  /* Change styles for cancel button and signup button on extra small screens */

  @media screen and (max-width: 300px) {
    .cancelbtn,
    .signupbtn {
      width: 100%;
    }
  }



  img{
          display:block;
          margin-left:auto;
          margin-right:auto;
          border 1px
          }

  body {margin:0;}


</style>

<body>
  <br><br><br>
  <img src="https://dewey.tailorbrands.com/production/brand_version_mockup_image/308/959947308_540a8725-ca1e-40ec-8b4c-1cd3db55f457.png?cb=1530653134" alt="">

  <br><br><br>
  <form name="signup" method="post" style="border:none" onsubmit="return validateForm()" action="/adduser">
    <div class = "col-sm-1"></div>
    <div class="container-fluid col-sm-10">
      <h1>Sign Up</h1>
      <p>Please fill in this form to create a merchant account.</p>
      <hr>

      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="email"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <label for="psw-repeat"><b>Repeat Password</b></label>
      <input type="password" placeholder="Repeat Password" name="psw2" required>

      <div class="clearfix">

        <button style="font-size: 20px" type="submit" class="signupbtn">Sign Up</button>
        <button style="font-size: 20px" type="button" class="cancelbtn" onclick="window.location.href='shop'">Cancel</button>

      </div>
      <br><br><br>
    </div>
    <div class = "col-sm-1"></div>
  </form>


  <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
  <script src="js/jquery/jquery-2.2.4.min.js"></script>
  <!-- Popper js -->
  <script src="js/popper.min.js"></script>
  <!-- Bootstrap js -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Plugins js -->
  <script src="js/plugins.js"></script>
  <!-- Active js -->
  <script src="js/active.js"></script>


</body>


</html>
